<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row>
      <v-flex xs7>
        <v-card dark tile flat color="error" class="grid1">
            <v-carousel class="slider">
              <v-carousel-item
                v-for="(item,i) in items"
                :key="i"
                :src="item.src"
              ></v-carousel-item>
            </v-carousel>
        </v-card>
      </v-flex>
      <v-flex xs5>
        <v-card  tile flat  class="grid2">
            <v-layout column>
              <div class="subheading">
                Terpopuler
                </div>
              <v-img src="https://picsum.photos/510/300?random" aspect-ratio="1.7" class="gambar"></v-img>
            </v-layout>
        </v-card>
        <v-card-title primary-title>
              <div class="label1">
                <v-btn color="grey">Teknologi</v-btn>
              </div>
              <div>
                <div class="headline1">Ubah Paradigma Warnet, Kafe Ini Siapkan Bibit Atlet eSports</div>
                <p class="deskripsi1">
                  Demam eSports kini melanda milenial. Dulu pradigma warnet identik dengan hal negatif dan buang-buang waktu. Beda halnya dengan kafe satu ini yang sengaja menjadikan eSports sebagai sebuah "sajian utama"
                </p>
              </div>
            </v-card-title>
      </v-flex>
    </v-layout>
    <v-container grid-list-md text-xs-center>
      <v-layout row>
        <v-flex xs7 order-lg2>
          <v-card dark tile flat color="error" class="berita">
            <v-flex xs5>
              <div class="title mb-1">Terbaru</div>
            </v-flex>
            <v-flex xs5>
              <v-img
                class="kontentberita"
                src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
                contain
              ></v-img>
            </v-flex>
            <v-flex xs10>
            <v-card-title primary-title>
              <div class="label">
                <v-btn color="grey">Teknologi</v-btn>
              </div>
              <div>
                <div class="headline">Ubah Paradigma Warnet, Kafe Ini Siapkan Bibit Atlet eSports</div>
                <p class="deskripsi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam modi facilis autem libero nesciunt, ex vel, nihil cum molestias minus cumque voluptate, perspiciatis totam praesentium sit saepe. Dolorum, sequi aut.</p>
              </div>
            </v-card-title>
            <v-card-actions>
              <div class="action">
                <v-btn color="grey">Readmore</v-btn>
              </div>
            </v-card-actions>
            </v-flex>

            

            
            
          </v-card>
        </v-flex>
        <v-flex xs5 order-lg2>
          <v-card dark tile flat color="error" class="berita1">
            
          </v-card>
        </v-flex>
        
      </v-layout>
    </v-container>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg"
        }
      ]
    };
  }
};
</script>

<style>
.grid1 {
  height: 400px;
  /* margin-left: -50px; */
  margin-top: -25px;
}
.grid2 {
  height: 400px;
  margin-left: 10px;
  margin-top: -25px;
}
.slider {
  height: 400px;
}
.subheading {
  text-align: left;
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.gambar {
  height: 376px;
  margin-left: 4px;
  margin-right: 4px;
}
.berita {
  margin-top: -210px;
  margin-left: -24px;
  margin-right: -5px;
  height: 1000px;
}
.berita1 {
  margin-top: -50px;
  margin-left: 15px;
  margin-right: -23px;
  height: 1000px;
}
.title {
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-left: 15px;
}
.kontentberita{
  height: 200px;
  width: 260px;
  margin-left: -10px;
  margin-top: 15px;
}
.label{
  margin-left: 210px;
  margin-top: -420px;
}
.headline{
  text-align: left;
  margin-left: 215px;
  margin-top: -190px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.deskripsi{
  text-align: left;
  margin-left: 215px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}
.action{
  margin-left: 15px;
  margin-top: -70px;
}
.label1{
  margin-left: -15px;
  margin-top: -27px;
}
.headline1{
  text-align: left;
  margin-left:-5px;
  margin-top: -6px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.deskripsi1{
  text-align: left;
  margin-left: -5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}
</style>
